.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-brand {
    font-family: 'Righteous', Arial;
}

.nav-brand:hover {
    text-decoration: none;
}

.brand {
    font-size: 48px;
    color: #4A4A4A;
}

.navbar .highlight {
    color: #90B44B;
}

.navbar-right {
  margin-top: 10px;
  margin-right: 10px;
}