div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 We make tools for teachers and students!
    .row
      .col-md-4
        h3.page-header Documents
        p All learning materials in one place.
        p Well organized, automatically.
        p Keep notes inline. 
      .col-md-4
        h3.page-header Collaboration
        p Share your documents.
        p Ask and answer questions.

div(ng-include='"components/footer/footer.html"')
