div(ng-include='"components/navbar/navbar.html"')

div.container
  p This is the document view, and it is under construction.
  button(ng-file-select="", ng-model="files", ng-multiple="true") Upload

div(ng-include='"components/footer/footer.html"')
